<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="~/gofish/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="~/gofish/favicon.ico" type="image/x-icon">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Go Fish! | In the Heart of the Lab</title>
    <link rel="stylesheet" href="~/gofish/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/gofish/css/site.css" />
</head>
<body>
    <main role="main" class="w-100 h-100">
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - GoFish.Web
        </div>
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>
